.next
node_modules
.DS_Store
.vscode
*.log
*.local
dist
.cache
coverage
.idea
*.iml
*.swp
*.swo
*.bak
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode/
*.code-workspace
*.tgz
*.zip
*.tar.gz
logs
*.pid
*.seed
*.pid.lock
lib-cov
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.sass-cache
.cache/
bower_components
.jest/
node_repl_history
public/static/
tmp/
temp/
*.tsbuildinfo